body {
  background: linear-gradient(
    180deg,
    rgba(223, 14, 128, 1) 0%,
    rgb(223, 48, 145) 7%,
    rgba(228, 90, 165, 1) 35%,
    rgba(103, 189, 255, 1) 100%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 4rem;
  padding: 16.5rem;
  text-align: center;
  color: white;
}

span {
  font-weight: bold;
}

p {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 50rem;
  height: auto;
  padding: 2px;
}
