/* body {
  background: linear-gradient(
    180deg,
    rgba(223, 14, 128, 1) 0%,
    rgb(223, 48, 145) 7%,
    rgba(228, 90, 165, 1) 35%,
    rgba(103, 189, 255, 1) 100%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 4rem;
  padding: 16.5rem;
  text-align: center;
  color: white;
}

span {
  font-weight: bold;
}

p {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  max-width: 50rem;
  height: auto;
  padding: 2px;
} */

h1 {
  font-weight: bold;
  font-size: 5rem;
  color: white;
  padding: 80px;
}

.image img {
  height: 100%;
  width: 100%;
}

.image {
  position: relative;
}

/* I wanted to try my hardest to mimic the "resizing browser" 
so I did a lot of research on how I could make that possible, 
all the while having my text on top of my image */

.image figcaption {
  position: absolute;
  top: 20%;
  left: 30%;
  right: 30%;
  bottom: 40%;
  font-size: 2.5rem;
  color: white;
}

/* .centered {
  position: absolute;
  top: 50%;
  font-weight: bold;
  font-size: 5rem;
  color: white;
} */

body {
  background: linear-gradient(
    180deg,
    rgba(249, 229, 202, 1) 20%,
    rgba(228, 38, 155, 1) 58%,
    rgba(11, 168, 252, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span {
  font-weight: bold;
}

p {
  border: 1px groove white;
  padding: 20px;
  background-color: white;
  position: relative;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}
