/* I wanted to try my hardest to mimic the "resizing browser" 
so I did a lot of research on how I could make that possible, 
all the while having my text on top of my image */
.image {
  position: relative;
}

.image figcaption {
  position: absolute;
  top: 20%;
  left: 30%;
  right: 30%;
  bottom: 40%;
  font-size: 2.5rem;
  color: white;
}

body {
  background: linear-gradient(
    180deg,
    rgba(249, 229, 202, 1) 20%,
    rgb(221, 70, 163) 58%,
    rgba(11, 168, 252, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span {
  font-weight: bold;
}

p {
  font-size: 18px;
  margin: 4%;
  border: 2px solid rgba(181, 232, 242, 0.904);
  padding: 20px;
  background-color: white;
  position: relative;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.endtext {
  margin-bottom: 4%;
}

.browser {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
