.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  background-color: blue;
  /* padding: 10px; */
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 2px;
}

.grid-item {
  background-color: aqua;
  border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
