/* element based styling */
* {
  color: hotpink;
}

.my-class {
  color: green;
}

/* I coloured all my h1 brown because blah blah blah */
h1 {
  color: brown;
  font-size: 2rem;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Sankofa Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: black;
  font-size: 2.2rem;
  text-align: center;
}

#my-id {
  color: magenta;
}

p,
h3 > .my-class {
  color: red;
}

/* h3 {
  color: black;
} */

/* Only do it for direct child, no grandchild ">", 
span is an in-between/in-line element */
p > strong {
  color: black;
}

span {
  display: block;
}

article {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  /* border-width: 3px;
  border-style: dotted;
  border-color: blue; */
  border: 3px dotted blue;
  padding: 20px;
}

p {
  border: 1px dashed rgb(12, 1, 1);
  padding: 10px;
  font-size: 1.4rem;
  background-image: linear-gradient(
    to right top,
    #ffffff #8f97d8 #646fbc #454f99
  );
  /* background-color: rgb(141, 202, 202, 0.466); */
  /* width: 200px; */
  /* line-height: 1.7; */
}

.sankofa {
  font-family: "Sankofa Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: blue;
}

a:hover {
  color: coral;
}

p:hover {
  /* color: coral; */
  background-color: rgba(182, 134, 116, 0.764);
}
